@model Epam.Elevator.Models.Master.Elevator
@using Epam.Elevator.Models

<div class="lifts floatleft">
        <h4> @Html.DisplayFor(model => model.ElevatorName)</h4>
        <div>Selected Floors: 1 2 3</div>
        <div style="border-style:solid;border-width:thin;border-color:white;"> (come from transaction)</div>
        <div style="margin-top:70px">
            Alarm : transaction
            MainStatus:  @Html.DisplayFor(model => model.MainStatus)
            <br />

            <br />
            Time:
        </div>
    </div>
</div>