@model Epam.Elevator.Presentation.Master.ElevatorModel

<div class="lifts floatleft">
        <h4> @Html.DisplayFor(model => model.ElevatorName)</h4>
        <div>Selected Floors: </div>
        <div style="border-style:solid;border-width:thin;border-color:white;"> (come from transaction)</div>
        <div style="margin-top:70px">
            Alarm : come transaction
            MainStatus:  @Html.DisplayFor(model => model.MainStatus)
            <br />
                
            <br />
            Time: @DateTime.Now
        </div>
    </div>
