@model Epam.Elevator.Models.Master.User
@using Epam.Elevator.Models

<div class="lifts floatleft">
    Selected Lift floors: <div id=>
        <div style="border-style:solid;border-width:thin;border-color:white;"> 1 3 4</div>
        <div style="margin-top:70px">
            Alarm : Status
            Status: @ViewBag.Status
            <br />
                
            <br />
            Time: 
        </div>
    </div>
</div>