@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Custom/Elevator")
@using Epam.Elevator.Presentation.Master;

<h2>Home</h2>
<div style="width:1000px;height:500px">
    @{
        foreach (ElevatorModel elevatorItem in ViewBag.elevatorList)
        {
            Html.RenderPartial("_ElevatorBlock", elevatorItem);
            // @Html.Action("DisplayElevatorBlock", elevatorItem);
        }
    }
</div>
<div class="floatleft" style="height:200px;width:200px;border-width:10px; margin-left: 200px;margin-top:50px;">
    <span>Enter current floor:</span><select>
        @{
            foreach (var floorItem in ViewBag.FloorList)
            {
                <option value=@floorItem.FloorName>@floorItem.FloorName</option>
            }
        }
    </select>
    <br /><br /><br />
    @{
        foreach (var floorItem in ViewBag.FloorList)
        {
            int number; ;
            bool isNumber = Int32.TryParse(floorItem.FloorName, out number);

            if (!isNumber || number < 10)
            {
                <button type="button" class="keypad">@floorItem.FloorName</button>
            }
        }
    }
</div>
<div class="output">
    Assigned lift is:
</div>
<div style="clear:both;">
</div>