@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Custom/Elevator")

<h2>Home</h2>
<div style="width:1000px;height:500px">
    @{
        foreach (var liftItem in ViewBag.elevatorList)
        {
            @liftItem;
            //Html.RenderPartial("_ElevatorBlock", liftItem);
        }
    }
</div>
<div class="floatleft" style="height:200px;width:200px;border-width:10px; margin-left: 200px;margin-top:50px;">
    Enter current floor: <select>
        @{
            foreach (var liftItem in ViewBag.FloorList)
            {
                <option value=@liftItem>@liftItem</option>
            }
        }
    </select>
    <br /><br /><br />
    @{
        foreach (var liftItem in ViewBag.FloorList)
        {
            if(!Char.IsNumber(liftItem) || liftItem<10){
                <button type="button" class="keypad">@liftItem</button>
            }
        }
    }
</div>
<div class="output">
    Assigned lift is:@ViewBag.assignedLiftName
</div>
<div style="clear:both;">
</div>